/checkpoints/
./checkpoints/informer_custom_ftM_sl3_ll48_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_updated_csv_0/checkpoint.pth
./checkpoints/informer_custom_ftM_sl3_ll48_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_world_trade_orig_0/checkpoint.pth
./checkpoints/informer_custom_ftM_sl4_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_updated_csv_0/checkpoint.pth
./checkpoints/informer_custom_ftM_sl4_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_updated_csv_1/checkpoint.pth
./checkpoints/informer_custom_ftM_sl6_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_tomato_0/checkpoint.pth
./checkpoints/informer_custom_ftM_sl6_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_tomato_1/checkpoint.pth
./checkpoints/informer_custom_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_simulated_graph_informer_test_0/checkpoint.pth
./checkpoints/informer_custom_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_simulated_graph_informer_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl3_ll48_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_tom_sc_informer_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl3_ll48_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_updated_csv_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl3_ll48_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_world_trade_og_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl6_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n238_t26_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl6_ll2_pl1_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n238_t26_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n10_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n10_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n10_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n10_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_1/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t500_test_0/checkpoint.pth
./checkpoints/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t500_test_1/checkpoint.pth
#*.csv
/data/
./data/ETT/ECL.csv
./data/ETT/ETTm1.csv
./data/g_n100_t1000.csv
./data/g_n238_t26.csv
./data/lg_n100_t1000.csv
./data/lg_n238_t26.csv
./data/tomato_lg_prepared.csv
./data/tomato_prepared.csv
./.git/lfs/objects/0a/96/0a96854fc5c6dd6775147eca20668ba571dde1848fcb2df470a666d1623f6362
./.git/lfs/objects/6c/e1/6ce1759b1a18e3328421d5d75fadcb316c449fcd7cec32820c8dafda71986c9e
./.git/lfs/objects/af/d0/afd0c3e4377fb9fece0dcee142f2134345c38a11768ad56695a2c007302304a1
./.git/objects/20/56841112a5d53660299311af4c85ef82f02fd4
./.git/objects/27/afe2edc14ab04e7b55ad7220bc5c5d095c8603
./.git/objects/3f/8d1dc961eaf176da2bf3b5c164338038367b93
./.git/objects/50/7b5631cb60eef3c5bf5c905b83b42b041a1f7a
./.git/objects/5f/6487be76a606419a77a3231083efe2d025a062
./.git/objects/61/06f749e7335d45dc92d761b909f063de959b04
./.git/objects/61/tmp_obj_wwwxEE
./.git/objects/bd/e3e15ab7bbede6223370d2f78c2dc469d68307
./.git/objects/dc/9fd257a0db60ad5f9488242f0d954e069e51a1
./.git/objects/de/7aefeaae86ecd6fe05795f1c7a6c9926d248a8
./.git/objects/pack/pack-d1d103e8034ae54ae15b9bae1c81910acbf23efe.pack
./.git/objects/pack/tmp_pack_0kOu3S
./.git/objects/pack/tmp_pack_50kNsp
./.git/objects/pack/tmp_pack_dblYzO
./.git/objects/pack/tmp_pack_q3jkbc
./.git/objects/pack/tmp_pack_RLECra
./.git/objects/pack/tmp_pack_X5NcSz
/__pycache__/
/results/
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_0/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_0/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_1/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n100_t1000_test_1/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_0/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_0/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_1/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_g_n300_t1000_test_1/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_0/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_0/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_1/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n100_t1000_test_1/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_0/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_0/true.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_1/pred.npy
./results/informer_sim_graph_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_lg_n30_t1000_test_1/true.npy
scripts/
./scripts/checkpoints/informer_custom_ftM_sl96_ll48_pl24_dm512_nh8_el2_dl1_df2048_atprob_fc5_ebtimeF_dtTrue_mxTrue_simulated_graph_informer_test_0/checkpoint.pth
